* {
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
}

button {
  background-color: #c5323e;
  border: none;
  padding: 15px;
  text-decoration: none;
  border-radius: 7px;
  color: whitesmoke;
}
button a {
  color: whitesmoke;
  font-size: 18px;
}

/*LOGO*/
#logo {
  grid-area: logo;
  background-color: #c5323e;
  text-align: center;
}
#logo img {
  width: 75px;
  height: 75px;
}

/*NAV*/
#nav {
  grid-area: nav;
  text-align: right;
  padding-top: 10px;
  background-color: #c5323e;
}
#nav ul {
  list-style-type: none;
}
#nav li {
  display: inline;
  font-size: 20px;
  padding-right: 50px;
}
#nav a {
  padding: 10px;
  text-decoration: none;
  color: whitesmoke;
}
#nav a:hover {
  background-color: #ac242f;
}

/*SIGN ON*/
#signOn {
  grid-area: signOn;
  background-color: #c5323e;
  text-align: center;
  padding-top: 10px;
}
#signOn a {
  padding: 10px;
  text-decoration: none;
  color: whitesmoke;
}
#signOn a:hover {
  background-color: #ac242f;
}

/*FOOTER*/
#footer {
  grid-area: footer;
  font-size: 30px;
  text-align: center;
  background-color: #c5323e;
  padding: 20px;
}

/* INDEX */
#indexContainer {
  display: grid;
  grid-template-areas: "logo nav nav signOn" "intro intro intro intro" "about about about about" "preview preview preview preview" "footer footer footer footer";
}
#indexContainer #intro {
  grid-area: intro;
  padding: 20px;
}
#indexContainer #intro img {
  rotate: 180deg;
  width: 80%;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}
#indexContainer #about {
  grid-area: about;
  padding: 20px;
  margin-left: 140px;
}
#indexContainer #about h2 {
  color: rgb(35, 35, 35);
}
#indexContainer #about p {
  width: 50%;
  padding-bottom: 10px;
}
#indexContainer #about button {
  margin-right: 100px;
}
#indexContainer #preview {
  grid-area: preview;
  padding: 20px;
  margin-left: 140px;
}
#indexContainer #preview .column {
  float: left;
  width: 40%;
  padding: 10px;
}
#indexContainer #preview .row:after {
  content: "";
  display: table;
  clear: both;
}
#indexContainer #preview #recipeCard {
  border: 2px solid #c5323e;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}

/*END INDEX*/
/*RECIPES CONTAINER*/
#recipePageContainer {
  display: grid;
  grid-template-areas: "logo nav nav signOn" "recipe recipe recipe recipe" "footer footer footer footer";
}
#recipePageContainer #recipe {
  grid-area: recipe;
  padding: 20px;
  margin-left: 140px;
}
#recipePageContainer #recipe .column {
  float: left;
  width: 40%;
  padding: 10px;
}
#recipePageContainer #recipe .row:after {
  content: "";
  display: table;
  clear: both;
}
#recipePageContainer #recipeCard {
  border: 2px solid #c5323e;
  border-radius: 7px;
  padding: 0px;
  margin-right: 30px;
}

/*END RECIPE CONTAINER*/
/* RECIPE FORM*/
#addRecipeContainer {
  display: grid;
  grid-template-areas: "logo nav nav signOn" "recipeForm recipeForm recipeForm recipeForm" "footer footer footer footer";
}
#addRecipeContainer #recipeForm {
  grid-area: recipeForm;
  margin-top: 20px;
}
#addRecipeContainer p {
  padding: 10px;
}
#addRecipeContainer form {
  width: 80%;
  margin: auto;
  border: 1px solid #ac242f;
  border-radius: 4px;
  padding: 25px;
}
#addRecipeContainer input[type=text] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ac242f;
  border-radius: 4px;
  box-sizing: border-box;
}
#addRecipeContainer input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#addRecipeContainer input[type=reset] {
  width: 50%;
  background-color: rgb(208, 42, 42);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#addRecipeContainer input[type=button] {
  background-color: #c5323e;
  border: none;
  padding: 15px;
  border-radius: 7px;
  color: whitesmoke;
}
#addRecipeContainer input[type=file] {
  background-color: #c5323e;
  border: none;
  padding: 15px;
  border-radius: 7px;
  color: whitesmoke;
}
#addRecipeContainer #instructions {
  width: 90%;
  height: 300px;
  border: 1px solid #ac242f;
  border-radius: 4px;
}

/*END RECIPE FORM*/
/*ADMIN RECIPE PAGE*/
#adminRecipeContainer {
  display: grid;
  grid-template-areas: "logo nav nav signOn" "recipe recipe recipe recipe" "footer footer footer footer";
}
#adminRecipeContainer #recipe {
  grid-area: recipe;
  padding: 20px;
  margin-left: 140px;
}
#adminRecipeContainer #recipe .column {
  float: left;
  width: 40%;
  padding: 10px;
}
#adminRecipeContainer #recipe .row:after {
  content: "";
  display: table;
  clear: both;
}
#adminRecipeContainer #recipeCard {
  border: 1px solid black;
  padding: 0px;
  margin-right: 30px;
}
#adminRecipeContainer #recipeCard button {
  margin: 10px;
}

/*END ADMIN RECIPE PAGE*/
/*CONTACT CONTAINER*/
#contactContainer {
  display: grid;
  grid-template-areas: "logo nav nav signOn" "contact contact contact message" "footer footer footer footer";
}
#contactContainer #contact {
  grid-area: contact;
  padding: 20px;
}
#contactContainer #contact form {
  width: 80%;
  margin: auto;
  border: 1px solid #ac242f;
  border-radius: 4px;
  padding: 25px;
}
#contactContainer #contact input[type=text], #contactContainer #contact select, #contactContainer #contact textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ac242f;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#contactContainer #contact input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#contactContainer #contact input[type=reset] {
  width: 50%;
  background-color: rgb(208, 42, 42);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#contactContainer #contact input[type=submit]:hover {
  background-color: #45a049;
}
#contactContainer #message {
  grid-area: message;
  background-color: rgba(255, 175, 1, 0.7215686275);
  padding: 20px;
}

/*END CONTACT*/
/*LOGIN*/
#formContainer {
  display: grid;
  grid-template-areas: "logo nav nav signOn" "title title title title" "form form form form" "footer footer footer footer";
}
#formContainer #title {
  grid-area: title;
  background-color: #c5323e;
}
#formContainer #form {
  grid-area: form;
  background-color: rgba(255, 175, 1, 0.7215686275);
}

/*END LOGIN*/
/*DESIGN PROCESS CONTAINER*/
#designContainer {
  display: grid;
  grid-template-areas: "logo nav nav signOn" "design design design design" "footer footer footer footer";
}
#designContainer #design {
  grid-area: design;
  background-color: rgba(244, 58, 12, 0.7176470588);
  padding: 20px;
}

/*END DESIGN*//*# sourceMappingURL=style.css.map */